body {
    background-color: #00fffd;
    color: red;
}

nav {
    position: fixed;
    top: 0;
    width: 90%;
    background-color: #00fffd   ;


}
nav ul{
    float: right;
}

nav ul li{
    float: left;
    padding: 30px;

}

.onder {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

aside {
    background-color: green;
    float: left;
    width: 15%;
    height: 2000px;
}

main{
    float: left;
}
