.dun {
    font-family: Alfredo;
    font-style: italic;
    font-weight: 400;
    font-size: 1 rem;
}

.dik{
    font-family: "Open Sans", Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1 rem;
}